@charset "utf-8";
/* CSS Document */

body,*,html,div,h1,h2,h3,p,ul,li,span,form,input,td,th{ margin:0; padding:0;}
body{ background:#fff; font-size:12px; font-family:"微软雅黑"; font-weight:normal; color:#666;behavior:url("css/csshover.htc");}

body{}

a,img,td{ border:0;}
a{ text-decoration:none; color:#369;}
li{ list-style:none;}

input, select{outline: medium none;}
form input {border:1px solid #ccc;}
form textarea {border:1px solid #ccc;}

.z{ float:left;}
.y{ float:right;}
.ov{ overflow:hidden;}
.cl{ clear:both; height: 0px; }
.mb13{ margin-bottom:13px;}
.c369{ color:#369;cursor:pointer;}

.dis{display:block;}
.undis{display:none;}

.w1000{ width:1000px; margin:0 auto;}




.ding{ height:28px; background: #333; color:#fff; line-height:28px;}
<<<<<<< HEAD
=======
.ding .w1000{ }
>>>>>>> deb5a8edd668ca5903de745eff3dc1a5f514aba6
.ding .znav a{ float:left; display:block; color:#fff; margin-right: 20px; }
.ding .znav a:hover{ color:#6ff}
.ding li{ float:left;margin-left:20px; }
.ding li a{ color:#8DCCE7;}
.ding li a:hover{ color:#6FF;}
.ding li.litel{ background:url(../images/icon.png) 0 8px no-repeat;padding-left:15px;padding:0 0px 0 15px;}
.ding li.liQQ{ background:url(../images/icon.png) 0 -17px no-repeat;padding-left:15px;padding:0 0px 0 15px;}


.head{ background:#fff; height: 80px; }
.head  .logo{ margin-top:12px; }
.banner{ background:#476c96; height:173px; margin-bottom: 5px; position: relative; }

/*.menu{ width:435px; margin-top: 25px }
.menu li{ width:100px; height:29px; float:left; font-size:16px;margin-left:8px; text-align:center; }
.menu li.on a{color:#fff; background:url(../images/menu-btbg.png) no-repeat;}
.menu li a{ display:block; width:100px; height:29px; line-height:29px; color:#069;}
.menu li a:hover{ background:url(../images/menu-btbg.png) no-repeat; color:#fff;}
*/


/*导航菜单*/
#navMenu { display:block; overflow:hidden; width:550px; margin-top: 35px; height:35px; line-height:29px; position: relative; 
}
#navMenu ul{}
#navMenu .onelink a{color:#fff; background:url(../images/menu-btbg.png) no-repeat;}
#navMenu li { width:100px; height:35px; float:left; font-size:16px; margin-left:8px; text-align:center; }

#navMenu li a {display:block; width:100px; height:29px; line-height:29px; color:#069;}
#navMenu li a:hover, #navMenu li.hover a {	background:url(../images/menu-btbg.png) no-repeat; color:#fff;}
/*-------- 下拉菜单 --------------*/
.dropMenu {margin-top:10px; position:absolute; z-index:100;  visibility: hidden; border: 1px solid #ddd; border-top: 3px solid #3CA2DC; background-color: #fff;  filter: Alpha(Opacity=85); }



#dropmenu1{ width:330px; padding:20px;}
#dropmenu1 dl{ overflow:hidden;}
#dropmenu1 dd,#dropmenu1 dt{ float:left;}
#dropmenu1 dt{ color:#999; margin-right:30px; font-size:16px; float: left; }
#dropmenu1 dd a{ font-size:14px; color:#000; margin-right:20px;}
#dropmenu1 dd a:hover{color:#08c}
.amb{ width:200px;}
.amb a{ margin-bottom:10px; display:block; float:left;}
#dropmenu2{ width:80px; padding:10px 20px 20px 20px;}
#dropmenu3{ width:105px; padding:10px 20px 20px 20px;}
#dropmenu4{ width:65px; padding:10px 20px 20px 20px;}
#dropmenu2 li,#dropmenu3 li,#dropmenu4 li{ height:30px; line-height:30px; border-bottom:1px dotted #aaa; font-size:14px;}
#dropmenu2 li a,#dropmenu3 li a,#dropmenu4 li a{ color:#000;}
#dropmenu2 li a:hover,#dropmenu3 li a:hover,#dropmenu4 li a:hover{ color:#08c}



/*-------- 备案icon --------------*/
.ba_icon{ margin:30px 0 0 10px; height:38px; width:28px; float:right; border-left:1px solid #9f9f9f; padding:0 20px; }
/*
.head{ height:92px; margin-bottom:8px; margin-top:10px; }
.logo{ margin-top:15px; }
.nav{ width:705px; margin-top: 30px; margin-top:53px; }
.nav li{ float:left; font-size:16px; overflow:hidden; }
.nav li a{ color:#000; display:block;text-align:center; height:30px; line-height:30px;margin:0 0 0 25px}
.nav li a:hover{ font-size:18px;color:#3a91e9;}
.nav li.on a{ font-size:18px; border-bottom:2px solid #369; color:#3a91e9;}
.nav li.li1 a{ width:65px;}
.nav li.li3 a{ width:100px;}
.nav li.li2 a{width:85px}*/

.index-banner{ background:#476c96; height:349px; }
.banner{ background:#476c96; height:173px; margin-bottom: 5px; position: relative; }
.banner .bnt{ height:42px; background:#ccc; filter:alpha(opacity=25); opacity:0.25; position: absolute; bottom: 0px; left: 0px; width: 100%; z-index:1; }
.banner .w1000 .bnerbt{ position:absolute; right:0; bottom:0; height:42px; float:right; color:#fff; font-size:16px; z-index:2; width: 350px; }
.banner .w1000 .bnerbt a{ background:url(../images/bnerbt.png) no-repeat; display:block; width:120px; height:35px; text-align:center; line-height:35px; color:#fff; font-size:16px; float: right; margin: 4px 10px 0 0; }
.banner .w1000 .bnerbt a:hover{ background:url(../images/bnerbt.png) 0 -40px no-repeat;}
.mn{}


.dynamic{ border-bottom:1px solid #dfeded; font-size: 14px; height: 420PX; }
.dynamic-top{ height:60px; background:url(../images/dynamic-h3-ttbg.jpg) no-repeat 0 center; }
.dynamic-top h3{ float:left; margin-left:45px; line-height:60px; font-weight: normal; }
.dynamic-top h3 a{color:#000}
.dynamic-top .more{ background:url(../images/more-bg.gif) no-repeat; width:86px; height:26px; display:block; margin: 17px 0 0 0; }
.dynamic-top .more a{ color:#fff; padding-left:20px; line-height:25px; }

.tb1_ { height:48px; overflow:hidden; background:url(../images/tb1_bg.gif) no-repeat; padding-left:30px; color:#000; margin-bottom: 10px; }
.tb1_ li{ float:left; height:48px; width:128px; cursor:pointer; overflow: hidden; margin-right: 0px; }
.tb1_ li a{ display:block; width:128px; height:42px;margin-top:3px;}
.hovertab1{height:48px;}
.hovertab1 a.a1{ background:url(../images/tb1_1-on.png) no-repeat;}
.hovertab1 a.a2{ background:url(../images/tb1_2-on.png) no-repeat;}
.hovertab1 a.a3{ background:url(../images/tb1_3-on.png) no-repeat;}
.hovertab1 a.a4{ background:url(../images/tb1_4-on.png) no-repeat;}
.normaltab1{height:48px;}
.normaltab1 a.a1{ background:url(../images/tb1_1.png) no-repeat;}
.normaltab1 a.a2{ background:url(../images/tb1_2.png) no-repeat;}
.normaltab1 a.a3{ background:url(../images/tb1_3.png) no-repeat;}
.normaltab1 a.a4{ background:url(../images/tb1_4.png) no-repeat;}
.ctt{ width:556px;}
.ctt ul{ border-top:1px solid #dedede; }
.ctt li{ height:54px; line-height:54px; background:url(../images/ctt-li-bg.gif) 0 -54px repeat-x;padding-left:30px;overflow:hidden;}
.ctt li:hover{ background:url(../images/ctt-li-bg.gif) repeat-x;}
.icon-date{ background:url(../images/icon-date.png) no-repeat;width:46px; height:45px;margin:3px 12px 0 0;}
.icon-date .st1{ font-size:12px; color:#fff; text-align:center;height:22px; line-height:22px; display:block;}
.icon-date .st2{ font-size:16px; color:#000; text-align:center; height:23px; line-height:22px; display:block; }
.ctt li .tit{ width:447px;height:54px; overflow:hidden; display:block; float:left; overflow:hidden;/*超出部分隐藏*/ white-space:nowrap; /*文本溢出用"..."表示*/text-overflow:ellipsis; /*适用IE*/ -o-text-overflow:ellipsis;/*适用opera*/ -moz-binding: url('ellipsis.xml#ellipsis');/*适用火狐(firefox通过XUL实现效果)*/ }
.ctt li .tit a{color:#000;}



.mn-pro2{ /*height:272px;*/ border-bottom:1px solid #7eb7b7;padding:5px 0 10px 0}
.mn-pro2 .box{ width:319px;height:415px;position:relative;}
.mn-pro2 a.bt{width:154px; height:41px; display:block;  text-align:center; color:#fff;margin:10px auto; line-height:41px;}
.mn-pro2 p.txt{color:#666;display:block;width:240px; line-height:21px;margin:0 auto;padding-top:190px}



.tb2_ li{display:inline;}
.bt{position:absolute;bottom:15px;left:82px;}
.hovertab2 .box01{ background:url(../images/box01-on.png) no-repeat; margin-right: 22px; }
.hovertab2 .box01 a.bt{ background:url(../images/box01-bt-on.png) no-repeat; }
.hovertab2 .box01 a.bt:hover{ background:url(../images/box01-bt-on-hover.png) no-repeat; }
.normaltab2 .box01{ background:url(../images/box01.png) no-repeat;margin-right: 22px; }
.normaltab2 .box01 a.bt{background:url(../images/box01-bt.png) no-repeat;}

.hovertab2 .box02{ background:url(../images/box02-on.jpg) no-repeat;}
.hovertab2 .box02 a.bt{ background:url(../images/box02-bt-on.png) no-repeat; }
.hovertab2 .box02 a.bt:hover{ background:url(../images/box02-bt-on-hover.png) no-repeat; }
.normaltab2 .box02{ background:url(../images/box02.jpg) no-repeat; }
.normaltab2 .box02 a.bt{background:url(../images/box01-bt.png) no-repeat;}

.hovertab2 .box03{ background:url(../images/box03-on.jpg) no-repeat;}
.hovertab2 .box03 a.bt{ background:url(../images/box03-bt-on.png) no-repeat; }
.hovertab2 .box03 a.bt:hover{ background:url(../images/box03-bt-on-hover.png) no-repeat; }
.normaltab2 .box03{ background:url(../images/box03.jpg) no-repeat; }
.normaltab2 .box03 a.bt{background:url(../images/box01-bt.png) no-repeat;}






.link{ height: 238px; }
.link-tit{ height:70px; line-height:70px; background:url(../images/link-h3-ttbg.gif) 0 center no-repeat; font-size:16px; font-weight:lighter; padding-left:50px; }
.link-logo a{ cursor:text; width: 164px; height: 50px; display: block; float: left; background:url(../images/link-lgbg.gif) no-repeat;margin:0 2px 15px 0;display:inline;}
.link-logo a:hover{ background:url(../images/link-lgbg-hover.jpg) no-repeat;}
.link-logo a img{ margin:3px 0 0 3px}





#foot{ height:270px; width:100%; overflow:hidden; background:#393939; border-top:1px solid #000;  border-bottom:1px solid #000; }
#foot .ft-lg{margin-top:40px; float:left;}
#foot .y{
	width:720px;
	color:#fff;
	margin-top:45px;
}
#foot .y ul{
	float:left;
	line-height:30px;
	width:120px;
	margin-left:15px;
}
#foot .y ul a{color:#fff;}
#foot .y ul li{ list-style:square;margin-left:15px;}
#foot .y ul .tit{ background:url(../images/ft-tit.gif) no-repeat ; height:38px; text-align:center; line-height:27px;  font-size:14px; font-weight:600; list-style:none;margin-left:0;margin-bottom:10px;}
#foot .y p{margin-top:10px;}
#foot .y .ulprd li{ float:left; width:85px;}

#foot .y p{
	margin-left: 30px;
<<<<<<< HEAD
=======
}
.login_iframe {
	 width:155px; height:20px; float:right; border:none; margin-top: 5px;
>>>>>>> deb5a8edd668ca5903de745eff3dc1a5f514aba6
}
/*
.foot{ background:url(../images/foot-bg.gif) repeat; height:238px; margin-bottom: 5px; }
.foot ul{ margin-left:28px; float:left; margin-top:35px; width:157px;}
.foot ul li{ margin-bottom:15px; font-size:12px; color:#06c }
.foot ul b a{ font-size:16px; color: #333; font-weight:normal; padding-bottom: 8px; display: block; }
.foot ul a{ color: #666; }
.foot ul .phone{ background:url(../images/icon-phone.gif) 0 center no-repeat;}
.foot ul .QQ{ background:url(../images/icon-QQ.gif) 0 center no-repeat;}
.foot ul .mail{ background:url(../images/icon-mail.gif) 0 center no-repeat;}
.foot ul .phone,.foot ul .QQ a,.foot ul .mail a{ padding-left:25px; color:#06c}
.foot .y{ margin-top:35px; text-align:center; font-size:14px; color:#333; line-height:21px; width:335px; padding-top: 10px; }
.foot .y p{margin-top:12px;}
.foot-copy{ height:50px; background:#242d3c; color: #fff; font-size: 12px; padding-top: 25px; }
.foot-copy .box{ padding-left:260px;}
.foot-copy a{ height:17px; width:21px; display:block; float:left; margin-right:10px; }
.foot-copy .weixin{ background:url(../images/icon-weixin.gif) no-repeat center center;}
.foot-copy .weibo{ background:url(../images/icon-weibo.gif) no-repeat center center;}
*/

/*云产品*/
.paas{}
.sidebar{ width:240px; }
.sidebar-nav{ border:1px solid #c9c9c9; background:url(../images/sidebar-bg.gif) bottom repeat-x #e5e5e5; padding-bottom: 60px; }
.sidebar-nav .appsearch{ background:url(../images/paas-left-search.gif) no-repeat center; width:227px; height:31px; margin:10px auto; }
.sidebar-nav .appsearch input{ border:0; background:none;}
.sidebar-nav .appsearch .txt{ margin:7px 14px; width:173px; font-size: 12px; font-family:"微软雅黑"; }
.sidebar-nav .appsearch .sub{ cursor:pointer; width:20px; height:25px; display:block}
.sidebar-nav li{ height:37px; line-height:37px;}
.sidebar-nav li a{ color:#666; font-size:14px; display:block; padding-left:55px; width:183px;}
.sidebar-nav li a:hover{ background:url(../images/paas-left-nav-hov.gif) no-repeat; color:#fff;}
.sidebar-nav li a{ color:#666; font-size:14px; display:block; padding-left:55px;}
.sidebar-nav li.on a{ background:url(../images/paas-left-nav-hov.gif) no-repeat; color:#fff;}
.sidebar h1{ border-bottom:1px solid #c9c9c9; height:43px; line-height:45px; font-size:18px; font-weight:lighter; padding-left:20px;margin-bottom:5px; overflow:hidden}
.side-connect{ border:1px solid #c9c9c9; background:url(../images/img-left-connect.gif) center 0 no-repeat; padding-top:99px;}
.side-connect form{ padding:10px 0 0 13px;}
.side-connect dt{ height:24px; line-height:24px; font-size:14px; color:#333;}
.side-connect dd .txt{ border:1px solid #c9c9c9; width:190px; font-size:12px; padding:10px;}
.side-connect dd textarea{ width:210px; height:165px; line-height:21px;}
.side-connect input.sub{ background:url(../images/bt-sidebar-sub.gif) no-repeat; width:129px; height:39px; display:block; margin:10px auto; text-align:center; color:#fff; cursor:pointer;  border:0; }

.paas-right{ width:744px; border: 1px solid #e5e5e5; margin-bottom: 33px; }
.paas-right .applist{padding:5px 0 5px 5px; }
.paas-right .applist li{ width:340px; height:130px; float:left; padding: 13px; border-bottom:1px solid #e5e5e5; }
.paas-right .applist li:hover,.paas-right .applist li.hover{ background:#e5e5e5;}
.paas-right .applist li img{ width:159px; height:120px; padding:2px; border:1px solid #ccc;}
.paas-right .applist li .y{ width:168px; position: relative; }
.paas-right .applist li .y .tit{ display:block; height:22px; overflow:hidden; color:#183965; }
.paas-right .applist li .y p{ line-height:21px; height: 65px; overflow: hidden; }
.paas-right .applist li .y .buy{ display:block; background:url(../images/bt-buy.gif) no-repeat; width:109px; height:33px; text-align:center; line-height:33px; padding-left:18px; position: absolute; left: 20px; top: 93px; }
.pagebar{ margin-right:20px;_height:54px; }
.pagebar li{ float:left; margin:16px 3px; width:22px; height:23px; text-align:center; overflow: hidden; }
.pagebar li a{ background:url(../images/pagebg.jpg) no-repeat; display:block; width:22px ; height:23px; line-height:21px; font-size:12px; color:#999}
.pagebar li a:hover{ color:#06c;}
.pagebar li.on a{background:url(../images/pagebg-on.jpg) no-repeat; color:#fff}

/*云方案*/
.project-right{ width:714px; border: 1px solid #e5e5e5; margin-bottom: 33px; padding: 20px 15px; color:#333; font-size:14px; line-height:21px; height: 901px; }
.project-right h2{ font-size:18px; font-weight:lighter; margin-bottom:20px;}
.project-right p{ text-indent:24px; margin-bottom: 15px; }
.project-right img{ margin-top:45px; }

/*弹窗广告*/
.win91{ width:635px; height:355px; background:#d3d2d1; border:#eeeeee 1px solid; 
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee,direction=120,strength=4);/*ie*/
        -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/ -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/ box-shadow:2px 2px 10px #909090; margin: 220px auto; 

}
.win91 .ad { text-align:center;}
.win91 .tit{ border-bottom:1px solid #aaa; height:48px; margin-bottom:13px; }
.win91 .tit a.close{ background:url(../images/win-close.gif) no-repeat; display:block; width:45px; height:43px; margin:3px 10px 0 0; float:right;}

/*弹出窗口*/
.win{ border:5px solid #069; background:#fff; width:400px; font-size:14px; color:#666; }
.win .int{ float:left; border:1px solid #ddd; height:18px;padding:8px;}
.wintop{ height:45px; background:#1570a6; text-align:center; color:#fff; font-size:18px; line-height:45px; overflow:hidden;}
.wintop{ position:relative;}
.wintop .close{ position:absolute; right:0;top:0; display:block;width:45px; height:45px; background:url(../images/bg-close.png) no-repeat center;}
.win dl{ height:60px; overflow:hidden;}
.win  dt,.winbox dd{ float:left;}
.win dt{ width:75px; text-align:right; line-height:36px;margin-right:10px;}
.win dd .yzm{ height:34px;width:92px; overflow:hidden;margin-left:10px; float:left;}
.win dd a{margin-left:10px; line-height:30px; text-decoration:underline; color:#69;}
.winbox1 .sub{ background:url(../images/bt-login.jpg) no-repeat; width:119px; height:40px; border: 0; cursor:pointer; }
.winbox1{ background:#fff; padding:25px 20px;}
.winbox2{ background:#fff; padding:10px 10px 25px 10px; }
.winbox2 p{ text-align:center; height:45px; background:#facd89; border:1px solid #ccc; color: #000; line-height: 44px; margin-bottom: 20px; }
.winbox2 dl{ height:60px; overflow:hidden;}
.winbox2 dt,.winbox dd{ float:left;}
.winbox2 dt{width:140px;}
.winbox2 .sub{ background:url(../images/bt-recharge.gif) no-repeat; width:119px; height:40px; border: 0; cursor:pointer; }
.win .ft-org{ font-size:24px; color:#f90; line-height:35px; float:left;}
.win .ft-nm{ color:#333; line-height:38px; margin-left:10px; float: left; }
.winbox3{ background:#fff; height:175px; overflow:hidden; }
.winbox3 p{ background:url(../images/icon-checkon.jpg) 0 5px no-repeat; font-size:24px; color:#000;padding-left:40px; width:130px; height:32px; line-height:32px;margin:60px auto 0 auto; }
/*弹窗配置*/
.winset{ width:680px;height:480px;border:5px solid #069; background:url(../images/bg-win-z.gif) #fff repeat-y;margin:0 auto; font-size:14px; color:#666;}
.winset-z{ width:85px; }
.winset-z ul{}
.winset-z li{padding:0 0 0 15px;  display:block; cursor:pointer; width:62px; line-height:35px; height:35px;  border-top:1px solid #fff; border-bottom:1px solid #ccc;}
.winset-y{ width:530px; margin:30px 0 0 40px; color:#000; }
.winset-y dl{height:75px;}
.winset-y dt,.winset-y dd{ float:left;}
.winset-y dt{ line-height:75px; width:60px;}
.winset-y dl.dl1 li{ float:left; width:62px; height:32px; line-height:28px; text-align:center; background:url(../images/bt-tab.gif) repeat-x; cursor:pointer;}
.winset-y dl.dl1 li.hover{ background:url(../images/bt-tab-on.gif) no-repeat;}
.winset-y dl.dl1 dd{padding-top:22px;}
.winset-y  p{ color:#333;}
.winset-y  p span{color:#999;}
.winset-y .divbt{ width:280px; margin:50px 0 0 130px;}
.winset-y .divbt a,.winset-y .divbt input{ background:
url(../images/bt-big.gif) no-repeat; width:122px; height:52px; text-align:center; font-size:18px; display:block; border:0; line-height:50px; color:#333; cursor: pointer; }

#ztb1 .hover{ width:84px; font-weight:bold; color:#8CE8FF; background:url(../images/bg-ztbhover.png) 1px 2px  no-repeat; border:0; }
#ztb2 .hover,#ztb3 .hover{ color:#fff}

/*云桌面*/
.definition{ border-bottom:1px solid #999; border-top:1px solid #999; font-size:14px; }
.definition .w1000{ background:url(../images/definition-bg.gif) right no-repeat; height: 357px;}
.definition .w1000 h2{ font-size:18px; color:#6392c0; margin:20px 0 10px 0; font-weight:lighter}
.definition .w1000 p{ width:570px; line-height:21px; color:#333; margin-bottom: 10px; }
.definition .w1000 li{ height:34px; line-height:34px; padding-left:25px; overflow:hidden; background:url(../images/icon-time.gif) 0 10px no-repeat; color:#999;}
.compare{ border-top:1px solid #e7e7e7; border-bottom:1px solid #d7d7d7;}
.compare table{ border:1px solid #ccc; border-right:0; font-size:14px; margin:20px 0;}
.compare th{ height:38px; background:url(../images/th-bg.jpg) repeat-x; border-right:1px solid #ccc; line-height:38px; font-size:16px}
.compare td{ border-top:1px solid #ccc; border-right:1px solid #ccc; padding:14px 0 14px 95px;}
.compare td.tit{ padding-left:30px; font-size:16px; color:#333; font-weight:lighter}
.who h2{font-size:18px; color:#6392c0; margin:20px 0 10px 0; font-weight:lighter}
.who-a{ height:145px;}
.who-a .y{ width:795px;}
.who-a h4{  font-size:16px;color:#6392c0;margin:10px 0 20px 0; font-weight:lighter;}
.who-a p{ line-height:21px;}
.who-b{ background:#d0e5ee; padding:10px 15px;}
.who-b font{ color:#6392c0; font-size:14px;}
.who-b p{ margin-top:10px; line-height:21px;}
.who-c{ background:url(../images/who-c.jpg) center no-repeat; height:161px; margin: 15px 0 5px 0; }
.how h2{font-size:18px; color:#6392c0; margin:20px 0 15px 0; font-weight:lighter;}
.desktop-connect { border:1px solid #ccc; margin:15px auto; font-size: 14px; }
.desktop-connect .tit{ background:url(../images/desktop-connect-tit.gif) no-repeat; height:29px; overflow:hidden;}
.desktop-connect dl{ display:block; overflow:hidden; margin-bottom:12px; width:100%;}
.desktop-connect dt,.desktop-connect dd,.desktop-connect dd input,.desktop-connect dd span,.desktop-connect form p font,.desktop-connect form p img{ float:left;}
.desktop-connect dt{ width:125px;}
.desktop-connect form{ margin:18px 0 0 55px; overflow:hidden;}
.desktop-connect form .icon{ background:url(../images/icon-point.jpg) no-repeat; width:20px; height:18px; margin:2px 0 0 10px; display: block;}
.desktop-connect form textarea{ width:625px; height:55px; margin-bottom:5px;}
.desktop-connect form p {}
.desktop-connect form p img{ margin:3px 5px 0 0;}
.desktop-connect form .sub{ background:url(../images/bt-sidebar-sub.gif) no-repeat; width:129px; height:39px; display:block; margin:0 188px 35px 0; text-align:center; color:#fff; cursor:pointer; border:0; }

/*云桌面2版*/
.deskbox01{ border-bottom: 1px solid #ccc; font-size: 14px; }
.deskbox01 .msg,.deskbox02 .msg,.deskbox03 .msg,.deskbox04 .msg,.deskbox05 .msg,.deskbox06 .msg{ width:530px;}
.deskbox02 p span,.deskbox03 p span,.deskbox04 p span{ background:url(../images/icon-li.png) 0 center no-repeat;_background:url(../images/icon-li.png) 0 7px no-repeat;padding-left:20px;}
.deskbox01 .msg h1{ color:#369; font-size:24px; margin-bottom: 10px; font-weight: 400; }
.deskbox01 .msg h2{ font-size:18px; font-weight:normal; margin-bottom: 10px; }
.deskbox01 .msg p{ line-height:21px; padding-bottom: 30px; border-bottom: 1px solid #ddd; }
.deskbox01 .msg h3{ color:#369; font-size:16px; margin:30px 0 15px 0;}
.deskbox01 .y{ margin:40px 0; }
.deskbox02{ border-bottom: 1px solid #ccc; font-size: 14px; }
.deskbox02 .msg h2{ font-size:18px;color:#369; margin-bottom: 10px; }
.deskbox02 .msg p{ line-height:21px; padding-bottom: 15px; border-bottom: 1px solid #ddd; }
.deskbox02 .msg h3{ color:#369; font-size:16px; margin:15px 0 15px 0; }
.deskbox02 .msg{ width:530px;}
.deskbox02 .y{ margin:40px 0; }
.deskbox03{ border-bottom: 1px solid #ccc; font-size: 14px; padding: 30px 0 40px 0; }
.deskbox03 .msg h2{ font-size:18px;color:#369; margin-bottom: 10px; }
.deskbox03 .msg p{ line-height:21px; padding-bottom: 15px; border-bottom: 1px solid #ddd; margin-bottom: 10px; }
.deskbox03 .msg h3{ color:#369; font-size:16px; margin:15px 0 15px 0; }
.deskbox03 .y{ margin:40px 0; }
.deskn .msg h2{ background:url(../images/bg-deskboxh2.png) no-repeat; width:175px; height:35px; line-height:35px; color:#fff; font-size:20px; padding-left:10px;}
.deskn .msg h3{ font-size:16px; color:#333;font-weight:500; margin: 10px 0 15px 0; }
.deskbox04{ border-bottom: 1px solid #ccc; font-size: 14px; }
.deskbox04 .msg p{ line-height:21px; padding-bottom: 15px; border-bottom: 1px solid #ddd; }


/*云平台*/
.platform{
	margin-bottom:50px;
}
.platform .topmsg{ height:70px; line-height:70px; font-size:14px; color:#999; text-align:center;}
.platformbox{padding-top:40px; padding-bottom:20px; border-top:1px solid #ccc;height:290px;}
.platform .img{ width:460px; height: 265px; }
.platform .img01{ background:url(../images/platform01.gif) no-repeat center center;}
.platform .img02{ background:url(../images/platform02.gif) no-repeat center center;}
.platform .img03{ background:url(../images/platform03.gif) no-repeat center center;}
.platform .img04{ background:url(../images/platform04.gif) no-repeat center center;}
.platform .txtmsg{ padding-left:50px; width:440px; padding-right: 40px; }
.platform .txtmsg h2{ font-size:24px; color:#666; font-weight: normal; height: 60px; line-height: 60px; }
.platform .txtmsg p{ color:#666; line-height:30px; font-size:14px;}
.platform .txtmsg div{ height:60px; border-top:1px solid #ccc; margin-top:30px; font-size:14px; padding-top: 15px; }
.platform .txtmsg span{display:block; line-height:60px;}
.platform .txtmsg a{display:block; background:url(../images/a-connect.gif) no-repeat; height:35px; width:100px;margin:12px 0 0 10px;}

.qyyh{ height:384px; width:1000px; background:url(../images/qiyeyonghu1.jpg) no-repeat 0 0; border-bottom:1px solid #ccc; margin:30px 0; padding-bottom:25px; }
.qyyh a,.rjcs a{ width:225px; height:90px; display:block; float:right; margin:212px 58px 0 0; }

.rjcs{height:382px; width:1000px; background:url(../images/ruanjianchangshang.jpg) no-repeat 0 0;}
.rjcs a{ margin:200px 58px 0 0;}

/*关于我们*/
.aboutus-right{width:714px; border: 1px solid #e5e5e5; margin-bottom: 33px; padding: 20px 15px; color:#333; font-size:14px; line-height:21px; min-height:505px; }
.aboutus-right h2{ font-size:18px; font-weight:lighter; margin-bottom:20px;}
.aboutus-right p{ text-indent:24px; margin-bottom:15px;}
.aboutus-right .map{ border:1px solid #ccc; margin:0 auto 30px auto; text-align:center; padding:10px 0; }
.aboutus-right .tel { margin-bottom:30px;}
.aboutus-right .adress { margin-bottom:60px;}

/*招贤纳士*/
.box{ width:705px; margin:10px auto; font-size:12px }
.box th{ background:url(../images/th-bg.jpg) 0 -8px; repeat-x; font-size:16px; height:26px; line-height:26px; border:1px solid #ccc;}
.box td{ border:1px solid #ccc; text-align:center; height:26px; line-height:26px; border-top:0 ; font-size:14px;}
.box td#content{ border:0; border-bottom:1px solid #ccc;}
.box td#content .cont{ border:1px solid #ccc; margin:5px 0; text-align:left; padding:10px;}
.box td#content .cont  .msg{}
.box td#content .cont .bt-apply{ width:129px; height:42px; display:block; background:url(../images/bt-apply.gif) no-repeat; margin:15px 0}

/*客户案例*/
.case{ padding-bottom:80px; overflow:hidden;border-bottom:1px solid #e0e0e0;}
.case .img{ width:450px; height:296px; float:left; margin:10px 0 0 0;}
.case .msg{ width:530px; margin-top: 12px; }
.case h3{ margin:20px 0; font-size:18px; color:#333; font-weight:lighter;}
.case .p1{ line-height:21px; text-indent:24px; font-size:14px}
.case dl{ border-bottom:1px solid #e0e0e0; border-top:1px solid #e0e0e0; height:50px; margin:10px 0; font-size:16px}
.case dt,.case dd{ float:left; display:block; height:50px; line-height:50px; margin-right:10px;}
.case dd.dd1{ background:url(../images/icon-checkon.jpg) 0 center no-repeat; padding-left:30px;}
.case dd.dd2{ background:url(../images/icon-check.jpg) 0 center no-repeat; padding-left:30px;}
.case strong{ font-size:16px; font-weight:lighter; color:#333; margin-bottom:10px; display:block }
.case .p2{ background:#eee; padding:10px; line-height:21px;}

/*列表页*/
.pst{ height:45px; border-bottom:1px solid #e0e0e0; margin-bottom: 15px; }
.pst .w1000{ background:url(../images/icon-house.gif) 0 center no-repeat; height:40px; font-size:14px;}
.pst .w1000 span{ display:block; float:left; height:40px; line-height:40px; background:url(../images/icon-r.gif) right center no-repeat; padding-right:26px; margin-right:10px;}
.left{ width:240px;}
.pst .w1000 a{line-height:40px; cursor:default;}
.left .category{ height:265px; border:1px solid #c9c9c9; margin-bottom:10px; background:#e5e5e5; overflow: hidden; }
.left .category h2{ font-size:18px; border-bottom:1px solid #c9c9c9; font-weight:normal; height:42px;line-height:50px;padding-left:18px;margin-bottom:5px;}
.left .category ul{}
.left .category  li{ height:40px; margin-bottom:12px; overflow: hidden; }
.left .category  li a{display:block;width:240px;_width:238px; height:40px;}
.left .category  li .a1{ background:url(../images/category-a1-normal.png) #e5e5e5 no-repeat;}
.left .category  li .a1:hover{ background:url(../images/category-a1-normal.png) #c6cbd1 no-repeat;}
.left .category  li.on .a1{ background:url(../images/category-a1.gif) #e5e5e5 no-repeat;}
.left .category  li .a2{ background:url(../images/category-a2-normal.png) 0 0 #e5e5e5 no-repeat;}
.left .category  li .a2:hover{ background:url(../images/category-a2-normal.png) 0 0 #c6cbd1 no-repeat;}
.left .category  li.on .a2{ background:url(../images/category-a2.png) 0 0 #e5e5e5 no-repeat;}
.left .category  li .a3{ background:url(../images/category-a3-normal.jpg) 0 0 #e5e5e5 no-repeat;}
.left .category  li .a3:hover{ background:url(../images/category-a3-normal.jpg) #c6cbd1 no-repeat;}
.left .category  li.on .a3{ background:url(../images/category-a3.jpg) #e5e5e5 no-repeat;}
.left .category  li .a4{ background:url(../images/category-a4-normal.png) 0 0 #e5e5e5 no-repeat;}
.left .category  li .a4:hover{ background:url(../images/category-a4-normal.png) #c6cbd1 no-repeat;}
.left .category  li.on .a4{ background:url(../images/category-a4.png) #e5e5e5 no-repeat;}
.left h3{ font-size:18px; margin-bottom:10px; font-weight:lighter;}
.right{ width:744px; border:1px solid #e0e0e0; margin-bottom: 33px;min-height:400px; }
.right h2{ font-size:18px; font-weight:lighter; padding:10px 15px 8px 15px; border-bottom:1px solid #e0e0e0; }
/*.right .ullist li{ border-bottom:1px solid #e0e0e0;  margin:0 15px; font-size:14px;padding-bottom:10px;}
.right .ullist  li{ margin-top:28px; }
.right .ullist  li .tit{ width:550px;overflow:hidden }
.right .ullist  li a{ background:url(../images/icon-time.gif) no-repeat 0 center; padding-left:30px;color:#036}
.right .ullist  li a:hover{ background:url(../images/icon-time-hov.gif) no-repeat 0 center; padding-left:30px;}
.right .ullist  li p{ font-size:12px;margin-left:30px;margin-top:14px;letter-spacing:2px;line-height:18px;padding-right:10px;}
*/

.right .ullist{ }
.right .ullist li{ height:100px;  background:url(../images/right-ullist-libg.gif) 0 -108px repeat-x;padding-left:17px;overflow:hidden;}
.right .ullist li:hover{ background:url(../images/right-ullist-libg.gif) repeat-x; }
.right .icon-date{ background:url(../images/icon-date.png) no-repeat;width:46px; height:45px;margin:20px 12px 0 0;}
.right .icon-date .st1{ font-size:12px; color:#fff; text-align:center;height:22px; line-height:22px; display:block;}
.right .icon-date .st2{ font-size:16px; color:#000; text-align:center; height:23px; line-height:22px; display:block; }
.right .ullist li .tit{ width:646px;margin-top:16px; }
.right .ullist li .tit h4{ font-size:14px; font-weight:normal;}
.right .ullist li .tit h4 a{color:#000}
.right .ullist li .tit p{ line-height:20px;margin-top:8px; font-size:12px; color:#666;}
 
 
/*购买页面*/ 
.buy_msg{ border:1px solid #ddd; margin-bottom: 15px; }
.buyz{ width:288px; height:670px; border-right:1px solid #ddd; float: left; font-size:14px; }
.buyz .img{ text-align:center; padding:12px 0; border-bottom:1px solid #ddd;}
.buyz .img img{ width:261px; height:195px}
.buyz .msg{ margin:15px auto; width:260px; }
.buyz p{ line-height:30px; padding:12px; color:#333; background:url(../images/bg-pm.png) repeat-y; height: 380px; }
.buyz p a{color:#06c}
.buyy{ width:675px; float:right; font-size:14px; margin-right: 15px; }
.buyy h2{ font-size:24px; font-weight:normal; color:#000; height:70px; line-height:70px; margin-top: 10px; }
.buyy dl{ overflow:hidden;margin-bottom:15px;}
.buyy dt,.buyy dd{ float:left; display: block; }
.buyy dt{ width:70px; color:#000; text-align:right; font-weight:bold; }
.buyy dl.dl1 dt{ line-height:25px;}
.buyy dl.dl1 dd{ width:595px; line-height:25px}
.buyy dl.dl2{ margin:25px 0 30px 0; }
.buyy dl.dl2 dt{ line-height:40px;}
.buyy dl.dl2 .buytabs{height:50px;}
.buyy dl.dl2 .buytabs li{border:3px solid #eee; cursor:pointer; float:left; margin-right:10px; width:98px; height:35px; text-align:center; line-height:35px;}
.buyy dl.dl2 .buytabs .thistab{background:url(../images/bg-thistab.gif) right bottom #fff no-repeat;border: 3px solid #486d97;}
.buyy dl.dl2 .tab_conbox{ border:3px solid #486d97; width:420px; padding:6px 12px 20px 12px;}
.buyy dl.dl2 .tab_conbox .tab_con p{height:35px; line-height:35px;color:#c60; background:#fff;}
.buyy dl.dl2 .tab_conbox .tab_con div{height:33px; line-height:33px; background:#f3f3f3;margin-top:7px; display:block;cursor:pointer; font-size:12px;}
.buyy dl.dl2 .tab_conbox .tab_con div.hover{ background:#CCC;}
.buyy dl.dl2 .tab_conbox .tab_con div .sp1{ display:block; background:url(../images/bg-sp1.png) no-repeat; width:33px; height:22px; text-align:center; line-height:22px; color:#fff; float:left; margin:;margin: 6px 10px 0 10px; }
.buyy dl.dl2 .tab_conbox .tab_con div .sp2{ display:block; text-align:center; line-height:33px; color:#333; float:left; margin:;}
.buyy dl.dl2 .tab_conbox .tab_con div input.y{ text-align:center;color:#fff; background:url(../images/bt-set.png) no-repeat; width:96px; height:25px; margin:4px 10px 0 0;border:0; cursor:pointer; font-weight:bold;}





.buyy dl.dl3 dt{ line-height:40px;}
.buyy .tab_conbox { }
.buyy .combo{height:34px; background:#fff; border:1px solid #e0e0e0; float:left;overflow:hidden;margin:0 12px 0 0; }
.buyy .combo span{margin :0;}
.buyy .combo .combo-arrow{ width:26px; height:24px;margin:4px 0px 0 0; border:1px solid #e0e0e0; background:url(../images/combo-arrow-right.png) center no-repeat #f0f0f0; opacity:1.0;filter:alpha(opacity=100);}
.buyy .combo .combo-arrow-hover{background:url(../images/combo-arrow-right-hover.png) center no-repeat #f0f0f0;opacity:1.0;	filter:alpha(opacity=100);}
.buyy .combo .combo-text{ height:34px; background:#fff;}
.buyy .combo-panel{ background:#fff;}
.buyy .combobox-item{  }
.buyy .panel-body{border:0;}
.buyy .panel-body-noheader{border-top-width:0px;}
.buyy dl.dl4 dt{ line-height:60px;}
.buyy dl.dl4 dd .price{ font-size:36px; color:#F90;margin:0 20px;}
.buyy dl.dl4 dd span{ line-height:60px}
.buyy .bt-buy{ background:url(../images/bt-buybig.gif) no-repeat; display:block; width:175px; height:50px; margin:30px auto; cursor: pointer; }
.buyb{}
.buyb .tb4_{ height:45px; background:#eaeaea;padding-left:15px;}
.buyb .tb4_ li{ float:left; width:121px; height:37px; text-align:center; line-height:37px;margin-top:4px; font-size:14px; cursor:pointer;}
.buyb .hovertab4{ background:url(../images/hover4.png) no-repeat; color:#fff;}
.buyb .normaltab4{ color:#06c}
.buyb .ctt4{ padding:20px 15px;margin-top:15px;border:1px solid #ddd;}
.buyb .ctt4 p{ line-height:22px; font-size: 14px; }

/*内容页*/
.article h1{ font-size:14px; color:#036; text-align:center; margin:20px 0 10px 0;}
.article .time{ text-align:center; font-size:12px; color:#036; border-bottom:1px solid #eee; padding-bottom:15px;}
.article .cont{ padding:20px 25px;margin-top:30px; font-size:14px; line-height:21px; min-height:580px;}

.article .desinfo {
    padding: 10px;
    margin-bottom:20px;
    border: 1px dashed #E0E0E0;
    font-size: 12px;
}



/*首页轮播*/
#container{width:1000px;height:350px;margin:0 auto;position:relative;z-index:0;}
#example{width:1000px;height:350px;position:relative;}
#slides{position:absolute;top:0;left:0;z-index:100;}
.slides_container{width:1000px;height:350px;overflow:hidden;position:relative;display:none;}
.slide{width:1000px;height:350px;display:block;}
.slide-1{background:url(../images/hd-01.jpg) no-repeat 50% 0;}
.slide-2{background:url(../images/hd-02.jpg) no-repeat 50% 0;}
.slide-3{background:url(../images/hd-03.jpg) no-repeat 50% 0;}
.slide-4{background:url(../images/hd-01.jpg) no-repeat 50% 0;}
.slide .next,.slide .prev{display:none;}
.pagination{position:absolute;left:465px;top:325px;z-index:9;}
.pagination li{float:left;margin-right:7px;}
.pagination li a{display:block;width:12px;height:0;padding-top:12px;background-image:url(../images/icon-hdbt.png);background-position:0 -14px;float:left;overflow:hidden; }
.pagination li.current a{background-position:0 0;}

#cover{position: relative;}
.covers_container{width:431px;height:331px;overflow:hidden;position:relative;display:none;}
.covers_container .slide{width:431px;height:331px;display:block;}
.paging{position:absolute;bottom:10px;right:10px;z-index:999;}
.paging li{float:left;margin-right:7px;}
.paging li a{display:block;width:12px;height:0;padding-top:12px;background-image:url(../images/icon-hdbt.png);background-position:0 -14px;float:left;overflow:hidden; }
.paging li.current a{background-position:0 0;}
/*错误提示*/

.errorMessage{color:red;font-size: 0.9em;}
