

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
        display:none;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

ul.yiiPager .previous,
ul.yiiPager .next
{
	display:none;
}