@charset "utf-8";
/* CSS Document */

body,*,html,div,h1,h2,h3,p,ul,li,span,form,input,td,th{ margin:0; padding:0;}
body{ background:#fff; font-size:12px; font-family:"微软雅黑"; font-weight:normal; color:#666;behavior:url("css/csshover.htc");}

body{}

a,img,td{ border:0;}
a{ text-decoration:none; color:#369;}
li{ list-style:none;}

input, select{outline: medium none;}
form input {border:1px solid #ccc;}
form textarea {border:1px solid #ccc;}

.z{ float:left;}
.y{ float:right;}
.ov{ overflow:hidden;}
.cl{ clear:both; height: 0px; }
.mb13{ margin-bottom:13px;}
.c369{ color:#369;cursor:pointer;}

.dis{display:block;}
.undis{display:none;}

.w1000{ width:1000px; margin:0 auto;}