@charset "utf-8";
/* CSS Document */

@import "public.css";

body{ position:relative}

.w990{ width:990px;}

.win02{ border:5px solid #069; background:#fff;  font-size:14px; color:#666; }
.win02_toph{ height:70px; background:#1570a6;}
.win02_toph h1{ float:left; color:#fff;margin-left:25px; font-size:20px; line-height:70px; font-weight:normal;}
.win02_toph a.close{ display:block; width:38px; height:38px; background:url(../images/close-2.png) no-repeat 0 -39px;margin:15px 20px 0 0;}
.win02_toph a.close:hover{  background:url(../images/close-2.png) no-repeat ;}
.win02 .int{ float:left; border:1px solid #ddd; height:18px;padding:8px;}
.win02 .trial{ height:525px; }
.win02 .trial form{ width:520px; margin:10px 60px 0 0; font-size:14px; }
.win02 .trial form p.info{ background:url(../images/line-2.gif) no-repeat 0 bottom; height: 40px; line-height: 40px; font-size:16px; color:#666; padding-left:10px; margin-bottom: 10px; }
.win02 .trial form dl{ font-size:14px; overflow:hidden;padding:5px 0;}
.win02 .trial form dt,.win02 .trial form dd{ float:left;} 
.win02 .trial form dt{ width:110px;margin-right:15px; text-align:right; line-height:37px;}
.win02 .trial form dt font{ color:#f00; }
.win02 .trial form dd{}
.win02 .trial form dd span.txt{ float:left; line-height:37px;margin-left:15px;}
.win02 .trial form dd textarea{ width:280px; height:110px; float:left;resize: none; overflow-x:hidden;}
.win02 .trial form .sub{ background:url(../images/bt-sidebar-sub.gif) no-repeat; width:129px;  height:39px; border:0;}


.win02 .combo{height:34px; background:#fff; border:1px solid #e0e0e0; float:left;overflow:hidden;margin:0 12px 0 0; }
.win02 .combo span{margin :0;}
.win02 .combo .combo-arrow{ width:26px; height:24px;margin:4px 0px 0 0; border:1px solid #e0e0e0; background:url(../images/combo-arrow-right.png) center no-repeat #f0f0f0; opacity:1.0;filter:alpha(opacity=100);}
.win02 .combo .combo-arrow-hover{background:url(../images/combo-arrow-right-hover.png) center no-repeat #f0f0f0;opacity:1.0;	filter:alpha(opacity=100);}
.win02 .combo .combo-text{ height:34px; background:#fff;}
.win02 .combo-panel{ background:#fff;}
.win02 .combobox-item{  }
.win02 .panel-body{border:0;}
.win02 .panel-body-noheader{border-top-width:0px;}
